:root {
    --black: #000;
    --white: #fff;
    --grad01: #E5FFFF;
    --grad02: #FFFEE5;
    --grad03: #E7FFE5;
    --grad04: #FFE5F0;
    --grad05: #F2E7FE;
    --grad06: #FFF3E5;
    --grad07: ;
    --grad08: ;
}

html {
    font-family: Roboto, Arial, Arial, Helvetica, sans-serif;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title {
    font-size: 3rem;
    line-height: 3rem;
    padding-bottom: 1rem;
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: 0.5rem;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.75rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.75rem;
}

p {
    font-size: 1rem;
}

blockquote {
    margin-left: 2rem;
    font-style: italic;
}

a {
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black);
}

a:visited {
    text-decoration: none;
}

a > p:hover,
a > span:hover, 
.filter-tab:hover,
.menu-link:hover {
    text-decoration: underline;
    text-transform: lowercase;
}

.filter-tab:hover,
.menu-link:hover {
    outline: 3px solid var(--black);
}

a > h3:hover {
    text-decoration: underline;
}

.pad-b-1 {
    padding-bottom: 0.25rem;
}

.pad-b-2 {
    padding-bottom: 0.5rem;
}

.pad-b-3 {
    padding-bottom: 0.75rem;
}

.pad-b-4 {
    padding-bottom: 1rem;
}

.pad-b-5 {
    padding-bottom: 1.25rem;
}

.pad-b-6 {
    padding-bottom: 1.5rem;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--white);
    z-index: 1000;
}

nav {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: flex;
    width: 100%;
    padding: 1rem 4.5rem;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display:none;
}

.nav-menu-mob {
    display:none;
    flex-direction: column;
}

.nav-menu-list-mob {
    display: none;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;
    height: 100vh;
    gap: 1rem;
}

.nav-menu-list-mob > li > .menu-link {
    padding: 1rem 0;
    font-size: 1.5rem;
}

.nav-menu-icon-wrapper {
    width: 3rem;
    height: 3rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu-icon {
    display:block;
    width: 1.5rem;
    height: 1.5rem;
}

.menu-link {
    display: flex;
    padding: 0.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    border-radius: 1.5rem;
    list-style: none;
    border-radius: 4rem;
}

.mob-menu-link-wrapper {
    width: 90%;
    margin: 0 auto;
}

.homepage-hero {
    /* display: flex; */
    /* flex-direction: row; */
    flex-wrap: nowrap;
    align-items: center;
    padding-right: 4.5rem;
    height: calc(100vh + 5.5rem);
}

.hero-content, .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.py-6 {
    padding: 6rem 0;
}

.pb-6 {
    padding-bottom: 6rem;
}

.category-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-width: 4px;
}

.tag-style-1 {
    border-image: linear-gradient(135deg, var(--grad01), var(--grad02)) 1;
}

.tag-style-2 {
    border-image: linear-gradient(135deg, var(--grad03), var(--grad04)) 1;
}

.tag-style-3 {
    border-image: linear-gradient(135deg, var(--grad05), var(--grad06)) 1;
}

.tag-style-4 {
    border-image: linear-gradient(135deg, var(--grad04), var(--grad01)) 1;
}

.tag-style-5 {
    border-image: linear-gradient(135deg, var(--grad06), var(--grad03)) 1;
}

.tag-style-6 {
    border-image: linear-gradient(135deg, var(--grad02), var(--grad05)) 1;
}

.btn-style-1 {
    background-image: linear-gradient(135deg, var(--grad01), var(--grad02));
}

.btn-style-2 {
    background-image: linear-gradient(135deg, var(--grad03), var(--grad04));
}

.btn-style-3 {
    background-image: linear-gradient(135deg, var(--grad05), var(--grad06));
}

.btn-style-4 {
    background-image: linear-gradient(135deg, var(--grad04), var(--grad01));
}

.btn-style-5 {
    background-image: linear-gradient(135deg, var(--grad06), var(--grad03));
}

.btn-style-6 {
    background-image: linear-gradient(135deg, var(--grad02), var(--grad05));
}

.social-media-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.image-full-width {
    height: 100%;
}

.hero-image-mask {
    -webkit-mask-image: url(imgs/svg/hero-image-mask.svg);
    mask-image: url(imgs/svg/hero-image-mask.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    height: 100%;
}

.introduction-wrapper {
    display: flex;
    align-items: center;
    border-radius: 3rem;
    /* background-image: linear-gradient(135deg, var(--grad02), var(--grad05)); */
}

.keyword {
    text-transform: uppercase;
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
    font-weight: 700;
    text-transform: uppercase;
}

.project-card-container {
    display: flex;    
    flex-direction: column;
    gap: 3rem;
}

.project-card {
    display: flex;
    overflow: hidden;
    align-items: center;
    /* gap: 1.5rem; */
    border-style: solid;
    border-width: 4px;
    border-image: linear-gradient(135deg, var(--grad02), var(--grad05)) 1;
}

.project-content-left {
    display: flex;
    /* padding-right: 72px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin: 4.5rem;
}

.project-content-right {
    display: flex;
    justify-content: center;
}

.social-media-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;
}

.sm-lockup {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.project-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    height: auto;
}

.filter-tab,
.btn-cta {
    display: flex;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    text-transform: uppercase;
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.external-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.image-container {
    display: flex;
    gap: 2rem;
}

.wrap {
    flex-wrap: wrap;
}

.figma-iframe {
    border: 1px solid var(--black);
}

.flex-gap-2 {
    display: flex;
    gap: 2rem;
}

.ic-py-6 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    gap: 2rem;
}

figcaption {
    font-size: 0.8rem;
}

.project-page-title {
    padding: 3rem 0;
}

.red {
    color: red;
}

/* @media classes START HERE */

@media only screen and (max-width: 992px) {
    .project-card {
        display: flex;
        flex-direction: column-reverse;
    }

    .nav-menu-mob {
        display: block;
        flex-direction: row;
        z-index: 1000;
    }

    .project-content-left {
        width: auto;
    }
    
    .project-content-left {
        margin: 2rem;
    }

    .homepage-hero {
        flex-direction: column-reverse;
        padding-right: 0;
        align-items: flex-start;
    }

    .profile-photo {
        width: 50%;
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width:993px) {
    .hero-image {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .main-nav {
        display: flex;
        align-items: center;
        gap: 1rem;
        align-self: stretch; 
    }

    .thumb-img {
        max-height: 550px;
        max-width: unset;
    }    
}

@media only screen and (max-width:645px) {
    .nav-bar {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
    }
}

@media only screen and (min-width: 645px) {
    .container-fluid {
        padding: 0 4.5rem 0 4.5rem;
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .external-links {
        flex-direction: row;
        width: 100%;
    }
}

